[2020-09-02 07:06] lakshyabatman opened #8 "Separating CLI code from main code"
### CLI related code should be in different file and core code in other files.
Type - Refactor

[2020-09-02 07:14] RachitG001 commented on #8
Assign me this task

[2020-09-02 07:15] lakshyabatman commented on #8
Awesome.

[2020-09-02 07:16] lakshyabatman commented on #8
Contributors, please assign this task to @RachitG001 , with this issue solved we can have cli code decoupled with core code, and adding additional features will be easier.

[2020-09-02 08:43] GouravSardana commented on #8
@RachitG001 , I assigned this task. You can work on it

[2020-09-02 08:50] RachitG001 commented on #8
@GouravSardana I have raised the pr. Can you review it?

[2020-09-02 10:44] GouravSardana commented on #8
Awesome @RachitG001 . You can also join our slack channel , Click [here](https://join.slack.com/t/iosf-india/shared_invite/zt-gt1emqhs-oSR5uUA89pfdAPMmdlB79A)

[2020-09-02 10:46] GouravSardana commented on #8
I am closing this issue. You can reopen it, if you have any issues

[2020-09-02 10:46] #8 closed

[2020-09-11 15:08] RachitG001 opened #10 "Adding reddit search results to dyanamic-cli"
@GouravSardana I will pick this up.

[2020-09-13 10:53] GouravSardana commented on #10
Sure @RachitG001 Pick that up and start

[2020-10-18 08:45] #10 closed

[2021-03-02 10:25] vaishnav-197 opened #11 "Mistake in Readme"
#### Install dependencies should come after Clone this repository to your local drive. It's given the other way.

[2021-03-02 10:26] vaishnav-197 commented on #11
I do like to take it up

[2021-03-02 12:00] GouravSardana commented on #11
@vaishnav-197 You can pick this item and send us a pull request

[2021-03-02 17:56] deeppatel23 commented on #11
If not done yet, may I take it up?

[2021-03-03 05:36] GouravSardana commented on #11
@deeppatel23 It's not yet done. You can also pick that up.

[2021-03-03 08:55] deeppatel23 commented on #11
@GouravSardana This issue is solved

[2021-03-05 06:49] #11 closed

[2021-03-08 06:38] Akash20x opened #14 "Add Issue templates"
I want to add issue templates for proposal, feature and documentation types so that there is proper way to create a new issue in your repo.

Please assign me this task as a part of GSSoC'21
and add necessary labels.

[2021-03-08 09:14] Akash20x commented on #14
Thanks for assigning me.
Please can you also add GSSoC'21 label so that this issue can be considered by GSSoC'21

[2021-03-10 02:49] GouravSardana commented on #14
@SavneetKaur01 I'll surely create the issues today. Will assign you one.

[2021-03-10 05:00] itsIapetus opened #16 "Update Readme"
## 📚 Documentation

I would like on work on this under GSSoC, I would like to update the Readme, to make it easier for the students to see how they can contribute, from forking the project to creating a pull request. If this is okay, kindly assign it to me, otherwise would you create other issues?

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/IndianOpenSource

[2021-03-10 05:14] GouravSardana commented on #16
@itsIapetus Sure. You can work on it

[2021-03-10 05:28] GouravSardana opened #17 "Support for Reddit🚀"
## 🚀 Feature

If a question searched on the cli, if that doesn't in StackOverflow then it will automatically call Reddit API to search it on Reddit and provide you the link or the description.

You can create your function [here](https://github.com/IndianOpenSourceFoundation/dynamic-cli/blob/master/src/arguments/search.py)

### Have you read the [Contributing Guidelines on Pull Requests](https://g

[2021-03-10 05:31] GouravSardana opened #18 "Fixed Greeting.yaml"
Greeting.yaml build is failing while someone sends a pull request. Anybody can pick this up and fix this.

You can find the greeting.yaml [here](https://github.com/IndianOpenSourceFoundation/dynamic-cli/blob/master/.github/workflows/greetings.yml)

[2021-03-10 05:32] GouravSardana commented on #14
@SavneetKaur01 I created issues. You can pick anyone and try to work on it

[2021-03-10 05:39] GouravSardana opened #19 "Codacy Integration"
We can have a Codacy integration in this project. So that before merging it will automatically analyze the quality of the code.

Learn more about Codacy [here](https://github.com/marketplace/codacy)

[2021-03-10 05:48] Akash20x commented on #17
Please assign me this issue as a part of GSSoC'21

[2021-03-10 05:57] SwarupKharul commented on #18
hey! I am a GSSoC participant, i would like to solve this bug. Please assign me this issue!

[2021-03-10 05:59] SwarupKharul commented on #19
hey! I am a GSSoC participant, I would like to integrate codacy to this project. Please assign me this issue.

[2021-03-10 06:18] SavneetKaur01 commented on #17
I want to work on this issue. Please assign me the same.

[2021-03-10 06:23] SavneetKaur01 commented on #14
@GouravSardana Thanks.

[2021-03-10 08:34] Sloth-Panda opened #20 "code of conduct file"
## 📚 Documentation

(A clear and concise description of what the issue is.)
There is no code of conduct file explaining all the rules that should be followed while contributing to a project so would like to add one  under gssoc

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/IndianOpenSourceFoundation/dynamic-cli/blob/master/CONTRIBUTING.md#reporting-new-issues

[2021-03-10 08:36] Sloth-Panda opened #21 "Pull request template"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

A pull request template explains all about a pr including its description and set of checklists that it follows

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/IndianOpenSourceFoundation/dynamic-cli/blob/master/CONTRIBUTING.md#reporting-new-issues)?
yes
(Write your answer here.)

[2021-03-10 08:36] Sloth-Panda commented on #21
would like to work on this

[2021-03-10 09:17] #16 closed

[2021-03-10 09:26] honeybhardwaj commented on #17
hi , i would like to contribute on this issue.

[2021-03-10 11:09] Sloth-Panda commented on #21
@GouravSardana can you please add gssoc21 and level tag to gthis issue

[2021-03-10 12:33] Komal-99 commented on #19
Yes I have read the Contribution guidelines
I would like to work on this codacy integration feature, Kindly assign it to me
Thanks

[2021-03-10 16:13] Sloth-Panda commented on #20
@GouravSardana can you please add "level0/ level1/ level2/ level3" any of the tags to the issue and pr along with "gssoc21"as per gssoc guidelines
else they wont be counted

[2021-03-11 03:33] soumik2012 commented on #17
Hi, @GouravSardana  I would like To contribute to this issue #17, can you assign it to me.

[2021-03-11 04:44] SwarupKharul commented on #18
I have made the necessary changes, but it is showing an error -' Resource not accessible by integration' when I make the PR

[2021-03-11 05:53] A-kriti commented on #17
Hello @GouravSardana Sir, I would like to contribute to this issue as a GSSOC'21 participant.

[2021-03-11 06:58] Akash20x commented on #18
Hey @SwarupKharul I just made small silly change with your pull request and it worked

[2021-03-11 07:33] honeybhardwaj opened #27 "Bug in Script for searching questions in stack exchange"
Details : the script displays the result even if the user put empty string in questions and tags which should not happen.

I would like to work on this. Kindly assign me this issue

regards
Honey Bhardwaj

[2021-03-11 09:07] Sitispeaks commented on #27
@honeybhardwaj btw how to run the script in the console

[2021-03-11 14:12] feni-katharotiya commented on #19
@GouravSardana Hello, I am gssoc participant and would like to work on this issue.

[2021-03-11 14:14] feni-katharotiya commented on #17
@GouravSardana Hello, I am gssoc participant and would like to work on this issue.

[2021-03-11 14:16] Nidhi-2000 commented on #17
@GouravSardana Hey I am Nidhi gssoc'21 participant . I would like to work on this issue

[2021-03-12 04:12] GouravSardana commented on #17
Anyone of you can pick the issue. I'll make more issues today. So that everyone can pick

[2021-03-12 04:25] soumik2012 commented on #17
I can solve this issue#17 let me do this

[2021-03-12 04:31] Siddhant-K-code commented on #19
@SwarupKharul  @Komal-99  @feni-katharotiya  Please share your approach, how would you implement this feature?

[2021-03-12 04:36] GouravSardana commented on #18
Fixed #26

[2021-03-12 04:36] #18 closed

[2021-03-12 05:42] Sloth-Panda commented on #20
@GouravSardana can you please add gssoc21 label to this issue

[2021-03-12 05:44] Sloth-Panda commented on #21
Please ass gssoc21 label to the issue

[2021-03-12 07:40] soumik2012 commented on #17
This is an error showing me if I run the application

[code]

[2021-03-12 13:28] rohank2502 opened #30 "Adding Contributor section in readme ( Automatically )"
I will like to add a feature this will update contributor list in read me automatically !! Will start to work on this issue as soon as i get assigend !!

[2021-03-12 14:38] rohank2502 commented on #30
Thanks @GouravSardana

[2021-03-12 18:08] anushree71199 commented on #17
@GouravSardana can I contribute to this issue under GSSoc'21?

[2021-03-13 09:41] GouravSardana commented on #17
@anushree71199 You can look at another issue. I'll add more issues today.

[2021-03-13 09:47] GouravSardana commented on #17
@anushree71199 You can pick this - #19

[2021-03-13 16:10] #30 closed

[2021-03-14 12:04] akshatvirmani commented on #17
I would like to work on this issue. Please assign this to me.

[2021-03-14 12:05] akshatvirmani commented on #19
I would like to work on this issue. Please assign this to me.

[2021-03-14 13:28] GouravSardana commented on #17
@honeybhardwaj You can now make changes according to Pranav. I merged the PE

[2021-03-14 16:28] honeybhardwaj commented on #17
@GouravSardana sure

[2021-03-14 17:23] Simar05519 commented on #20
I want to work on this issue. Please assign to me

[2021-03-14 17:39] #20 closed

[2021-03-14 17:40] #21 closed

[2021-03-14 17:40] Sloth-Panda commented on #19
@GouravSardana can I work on this too?

[2021-03-15 09:19] anshsrtv opened #33 "Change the layout of search results"
## 🚀 Feature

We want to display the search results in an organized manner. Hence, we need to change to the following format to display the results:
- For the most upvoted result:
  - Desc:
  - Ans:
  - Snippet:

- For the rest of the results:
  - Question title - URL

## Motivation

Currently, as shown in the screenshot below, the results aren't displayed in an organized manner and it's difficult

[2021-03-15 09:46] anshsrtv opened #34 "Add Intro GIF in README.md"
## 📚 Documentation

_"Embedding an animated gif in your README quickly demonstrates what your project does and catches the reader's eye"_

In the animated GIF, capture the project in action to help beginners get an idea of what the project is all about. For reference, check [this](https://github.com/flutter/flutter#productive-development).

### Sidenote

In the 4th step [here](https://github.com/I

[2021-03-16 01:23] Solivagant14 opened #35 "Changing HTML entities to String"
**Description**

When we run it, HTML entities are used in place of string

For Ex. ,
 **\&lt;**   instead of   **<**
**\&gt;**   instead of   **>**

I would like to work on it.

Also Please add **_gssoc_** labels

[2021-03-16 05:14] GouravSardana commented on #19
sure @Sloth-Panda

[2021-03-16 22:37] NamamiShanker commented on #33
@anshsrtv I can work on this issue

[2021-03-17 04:31] #34 closed

[2021-03-17 04:44] #35 closed

[2021-03-17 04:48] anshsrtv commented on #33
@GouravSardana Please assign this issue to @NamamiShanker. Also, add the GSSOC tags.

[2021-03-17 05:52] anshsrtv opened #39 "Add emojis in CLI"
## 💥 Proposal: Emoji in CLI

We can add relevant emojis in the CLI like minikube (Kubernetes). Check the screenshot below for reference:

<img src="https://raw.githubusercontent.com/kubernetes/minikube/master/site/static/images/screenshot.png" width="575" height="322" alt="screenshot">

[2021-03-17 09:01] NamamiShanker commented on #39
@anshsrtv Yeah it will be cool! Can I work on this feature? I am a GSSOC participant.

[2021-03-17 14:21] devansh-07 opened #40 "AttributeError: module 'main' has no attribute 'search_obj'"
Running **`dynamic -s`** after following installation instructions throws **`AttributeError`**.

![Screenshot from 2021-03-17 19-47-52](https://user-images.githubusercontent.com/53042477/111482291-c57bdc00-8759-11eb-96a4-3b72b300d606.png)

[2021-03-17 14:42] Solivagant14 opened #41 "Making one answer visible at a time."
## 🚀 Feature

This feature will view one answer at a time & the user can navigate through the answers with the help of arrow keys. This will make it easier for the user to see an answer.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/IndianOpenSourceFoundation/dynamic-cli/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

It was very frust

[2021-03-17 15:35] pranavbaburaj commented on #40
Are you running the latest code??

[2021-03-17 15:37] devansh-07 commented on #40
Yes, I'm running the latest version.

[2021-03-17 15:38] devansh-07 commented on #40
I'd like to fix this.

[2021-03-17 16:25] pranavbaburaj commented on #40
I don't think you are running the latest code, because the `search_obj` function was completely replaced with `search_flag `

[2021-03-17 16:31] devansh-07 commented on #40
It was replaced but not completely. _console_scripts_ entry point in **`setup.py`** still contains `search_obj` which throws this error.

[2021-03-17 16:38] pranavbaburaj commented on #40
oh, ok 😄 . Thank you

[2021-03-17 16:42] pranavbaburaj commented on #40
I guess I fixed it

https://github.com/IndianOpenSourceFoundation/dynamic-cli/pull/42

[2021-03-17 16:49] GouravSardana commented on #40
@devansh-07 Can you take a pull and see if it works ?

[2021-03-17 16:54] devansh-07 commented on #40
Yes, It is working now.

[2021-03-17 16:54] #40 closed

[2021-03-18 05:18] Nishayadav-bit commented on #33
Hey,
i'm a GSSOC'21 participant
Can i work on this issue

[2021-03-18 05:59] anshsrtv commented on #33
Hi @Nishayadav-bit, Glad to hear that but this issue has already been assigned to @NamamiShanker. You can try solving #39, if you want.

[2021-03-18 13:01] pranavbaburaj commented on #39
Most of the StackOverflow answers do not contain emojis

[2021-03-18 13:52] NamamiShanker commented on #41
@Solivagant14 I am already working on this issue from #33

[2021-03-19 16:03] GouravSardana commented on #41
@NamamiShanker you are working on the UI part to display the message and he is adding some functionality to the CLI

[2021-03-21 14:45] lakshyajit165 opened #44 "Mention relevant comments in the Utility.py file"
## 📚 Documentation

The utility.py file contains functionalities which are used in fetching answers from APIs. It would be better to mention concise comments(before each function) mentioning the functionality of the methods and if the function is relatively long - a little bit of description about the flow as to what exactly that function does

### Have you read the [Contributing Guidelines on Pul

[2021-03-21 14:54] lakshyajit165 opened #45 "Syntax highlighting, Questions(along with the answers) and Proper line breaks"
## 💥 Proposal

#### This is one of the results from a search in the dynamic-cli:
![Screenshot from 2021-03-21 20-16-29](https://user-images.githubusercontent.com/30868587/111909271-a98e7800-8a82-11eb-9bbe-432dc62c6d3b.png)

As you can see the syntax highlighting is not very prominent among a few other issues - so I would like to propose the following changes:
- Better syntax highlighting (preferra

[2021-03-21 15:11] pranavbaburaj commented on #45
Sorry @lakshyajit165, We are using the rich module for rendering markdown. I don't think that is possible. Still we can try

[2021-03-21 15:14] lakshyajit165 commented on #45
@pranavbaburaj if this rich module is open source we can try tweaking it acc. to our own requirements and then include that in this project.

[2021-03-21 15:26] pranavbaburaj commented on #45
If that is the case, it will be good if you create the same issue in that repo - [rich](https://github.com/willmcgugan/rich)

[2021-03-21 16:34] GouravSardana commented on #45
@pranavbaburaj Do you have any suggestion, If we can move to another module than rich?

[2021-03-21 16:36] GouravSardana commented on #39
@pranavbaburaj Not for StackOverflow but to improve our way to display the answers. If you have some other suggestions then we can try that too

[2021-03-21 17:05] pranavbaburaj commented on #45
I will try to find one

[2021-03-22 02:36] CyberneTech commented on #44
Hey! I would like to work in this issue

[2021-03-22 07:00] GouravSardana opened #46 "Travis-CI Integration"
Integrate Travis CI with our dynamic-cli and add relevant build (pass/fail) icon in the readme as well.

For more information about Travis click [here](https://travis-ci.com/)

[2021-03-22 07:10] GouravSardana opened #47 "Add a new args called --new to create a question on StackOverFlow"
We don't have any feature where we can add a new question on Stackoverflow using our Dynamic-cli.

Here are some details: -
Example -
1. dynamic --new
It will open up the default web browser and open StackOverflow in it with this [link](https://stackoverflow.com/questions/ask)

2. dynamic --new [title] [desc]
It will open up the default browser but with all the relevant fields filled already like

[2021-03-22 07:12] GouravSardana opened #48 "Setup your own custom Stackoverflow api key"
In our dynamic cli, we are using one default API key. We can have an option where the user can set his own custom API key rather than using our own.

@pranavbaburaj Can talk about it more!

[2021-03-22 07:17] GouravSardana opened #49 "Implement dynamic --version or -V"
We want an args where we can display our dynamic-cli version.

For example:-

- dynamic --version / dynamic -V
It will give the version as 0.1 by default and when we published on PyPI then it will show up the new released version

[2021-03-22 07:20] GouravSardana opened #50 "Write Unit test and Integration test for our CLI to test the functionality"
For now, we don't have any test which will give us a surety that we can deploy our new changes without affecting the previous one. If we have our own test where we can surely say that it might not fail when we release a new version or new feature.

[2021-03-22 07:27] GouravSardana opened #51 "Add all the args to Readme Usage"
Add all the args which we have in our dynamic-CLI to the Readme. So that If new users/contributors will come, It will easily find out all the information from the readme itself.
For Example: -

## Usage

[code]

[2021-03-22 12:08] chaudharypraveen98 commented on #49
I am a gssoc participant and I want to contribute to it.

[2021-03-22 14:50] GouravSardana commented on #49
It should be like this -
gourav@gourav:~$ dynamic --version
Dynamic-CLI version 0.1

[2021-03-23 04:56] #49 closed

[2021-03-23 08:20] asadafasab commented on #47
Can I work on this issue?

Filing up description/body using URL [query](https://meta.stackoverflow.com/questions/385508/is-there-a-way-to-pre-fill-the-body-of-a-new-question) is not that simple.

[2021-03-23 08:28] GouravSardana commented on #47
@asadafasab Sure. You can work on this issue. Yeah prefilled data part is challenging

[2021-03-23 08:37] GouravSardana commented on #47
We can pre-filled only titile @asadafasab

[2021-03-23 14:42] #47 closed

[2021-03-24 05:05] #51 closed

[2021-03-24 13:52] aaryanrr commented on #46
Someone with the write access to this repository has to register on [Travis](https://travis-ci.org/) using GitHub and then activate the Webhook for this repository or in other words activate the CI Integration for this repository. Then I'll push a `.travis.yml` file that will trigger the build each time a PR is merged.
Also, as we do not have any tests currently for this library so what do you wan

[2021-03-24 21:26] yasht01 commented on #48
Hey! Can I work on this issue?

[2021-03-25 06:16] GouravSardana commented on #46
@aaryanrr I opened one issue #50 to write the test for this tool. If somebody picks that up then I'll activate the webhook for this repository and you can work on yaml file

[2021-03-25 17:25] honeybhardwaj commented on #19
hi @GouravSardana , to setup codacy i need rights so that i can setup it on this repo ryt?

[2021-03-25 17:44] honeybhardwaj opened #58 "Update README.md"
## 📚 Documentation

The starting of the readme file has the project name and the description which looks very simple i want to update that so that it look nice.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/IndianOpenSourceFoundation/dynamic-cli/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes i have read it.

i would love to work on it
Regards
Honey B

[2021-03-26 04:45] #27 closed

[2021-03-26 06:47] anshsrtv commented on #19
@GouravSardana Are you sure we need a YAML configuration file for Codacy? I checked the documentation for Codacy and couldn't find a reference to it.

[2021-03-26 09:06] #58 closed

[2021-03-27 03:31] guptaaastha commented on #44
Hello, I'd like to work on this issue, would be great if you could assign this to me.

[2021-03-27 03:46] guptaaastha commented on #39
I have some ideas in mind and would like to experiment and try to work on this idea. Can you please assign this issue to me.

[2021-03-27 05:13] pranavbaburaj commented on #44
Hello @GouravSardana, I'd also like to work on this. Please take me into consideration.

Hopefully @pranavbaburaj

[2021-03-27 06:49] #46 closed

[2021-03-27 07:18] anshsrtv commented on #48
Sure @yasht01

[2021-03-27 09:27] anshsrtv commented on #39
We are excited to see your ideas get in shape!

[2021-03-27 10:41] NamamiShanker commented on #33
Hi @anshsrtv . I have have done the changes so that the output is as you mentioned. Please check the image and suggest any changes. There is some problem in my bash terminal. The red lines print in a wierd way.

![terminal_ss](https://user-images.githubusercontent.com/26577306/112718117-f1941b80-8f16-11eb-89fc-fca9bbab7cbe.png)

[2021-03-27 11:00] NamamiShanker commented on #50
I can work on this issue.

[2021-03-27 12:14] anshsrtv commented on #33
@NamamiShanker It looks perfect ✨Please raise a PR for the same. The red line issue will be solved in #61.

[2021-03-27 17:47] yasht01 commented on #48
Hey @pranavbaburaj I am kind of stuck as to where is the default API key is present in the source code. I looked in the `utility.py` file and I noticed the `search_content_url` making the API calls. Can you point out to the location of the API key?

[2021-03-27 18:28] GouravSardana commented on #50
@NamamiShanker Sure, Please go ahead

[2021-03-27 20:13] NamamiShanker commented on #50
@GouravSardana I am added to the GSSOC server. Can you help me in the beginning? I am not much experienced in unit testing and integration testing.

[2021-03-28 05:26] pranavbaburaj commented on #48
@yasht01, The project is using the public StackExchange API which does not require an API key. But, if you want to add a question completely via the CLI, we need to authenticate using the StackExchange Oauth API. I think that is what this issue is all about. You can read more about it [here](https://api.stackexchange.com/docs/authentication).

Please correct me If I am wrong 🙂 .

[2021-03-28 18:56] Nikita0509 commented on #44
Hello @GouravSardana @honeybhardwaj i would also like to work on this issue .

[2021-03-28 20:17] honeybhardwaj commented on #44
@Nikita0509 @pranavbaburaj  The issue is assigned to participants in First come First serve basis so you could grab other issues or create one for yourself.

[2021-03-28 20:30] honeybhardwaj commented on #19
@GouravSardana  hi , don't you think you should even turn on the option of status check ,annothions and summary for better understanding during pull request and we ll also maintain code quality by that ??
![Screenshot from 2021-03-29 01-57-41](https://user-images.githubusercontent.com/51120790/112767113-7a53aa00-9032-11eb-907f-4f4a3020ec61.png)

[2021-03-29 02:42] Siddhant-K-code commented on #19
Yes, it will be good if an owner of the repo. will integrate it with the project.

OR

We Can use this GitHub action [Codacy Analysis CLI](https://github.com/marketplace/actions/codacy-analysis-cli)

[2021-03-29 14:14] yasht01 commented on #48
@pranavbaburaj The documentation mentions the use of `client_id` for user authentication. This [answer](https://meta.stackoverflow.com/questions/261452/what-is-client-id-in-the-stack-overflow-oauth-api) mentions that we would have to register our application on [this](https://stackapps.com/apps/oauth/register) link. What should I do next?

[2021-03-30 17:04] GouravSardana commented on #48
@pranavbaburaj Yes, you are correct. This will use the public API for fetching the result. We are thinking to separate the API to a different file called apiEndpoint.json or some different format.

[2021-03-30 17:36] GouravSardana commented on #19
@Siddhant-K-code You can add this Codacy Analysis CLI in our github workflow

[2021-03-31 04:37] #39 closed

[2021-03-31 06:54] GouravSardana opened #67 "Greeting.yaml checks fails for every pull request for the first time"
We added an action when somebody sends a pull request then one of our action is failing for the first time and when contributors will send one more commit in the same pull then it works.

For example -
- Gourav sends a pull request - Greeting.yaml check will fail.

- Add a new commit - Remove extra spaces or anything

- In the same pull request - Greeting.yaml check will pass.

You can send us a t

[2021-03-31 06:55] GouravSardana commented on #67
The FIle can be find [here](https://github.com/IndianOpenSourceFoundation/dynamic-cli/blob/master/.github/workflows/greetings.yml)

[2021-03-31 08:35] anirudhsai20 opened #68 "Readme file enhancement"
The Readme file can be enhanced by adding a list of all the Open Source programs in which this project was listed in.

[2021-03-31 08:36] anirudhsai20 commented on #68
Please assign this issue to me under GSSOC.

[2021-03-31 11:54] #19 closed

[2021-03-31 18:26] himanshu007-creator commented on #67
ill test it.

[2021-03-31 19:59] OBITORASU commented on #45
You can try using [terminal_markdown_viewer](https://github.com/axiros/terminal_markdown_viewer). This one looks promising in terms of syntax highlighting.

[2021-04-01 05:26] himanshu007-creator commented on #67
Should I send a PR to make it work?

[2021-04-01 06:32] GouravSardana commented on #67
@himanshu007-creator Yes you can send a PR. I think my mistake this issue got closed

[2021-04-01 07:41] #68 closed

[2021-04-01 11:31] #67 closed

[2021-04-01 15:34] GouravSardana commented on #45
@OBITORASU This looks really cool.

[2021-04-03 05:25] GouravSardana opened #75 "Implement GET in dynamic to get the response from an API"
This feature will include the following things -

1. Once a user will enter dynamic -GET, it will ask for a URL to put and the default URL would be 127.0.0.1:8000 and it will ask for the end point or you can put directly in the URL itself
2. It will build on top of [CURL](https://github.com/curl/curl).
3. Output will get in JSON with proper syntax highlighter.

Example -
dynamic -GET
Enter the URL

[2021-04-03 05:33] GouravSardana opened #76 "Implement -POST in dynamic to post the response from an API"
This feature will include the following things -

1. Once a user will enter dynamic -POST, it will ask for a URL to put and the default URL would be 127.0.0.1:8000 and it will ask for the endpoint or you can put it directly in the URL itself
2. It will ask for headers then it will ask for payloads
3.  Optional param - User-Agent
4. It will build on top of CURL.
5. The output will get in JSON with

[2021-04-04 03:58] yasht01 commented on #48
Hey @pranavbaburaj can I go ahead and register this app on Stack Apps for getting the `client_id`?

[2021-04-06 08:34] GouravSardana commented on #48
sure. Goahead

[2021-04-08 05:15] #48 closed

[2021-04-08 16:27] yasht01 commented on #75
Hey, can I work on this issue?

[2021-04-09 06:10] yasht01 commented on #75
Hey, where should I add the relevant code in `utility.py` or `search.py`?

[2021-04-09 06:33] anshsrtv commented on #75
Please make a new file and add your code there. Yes, you can use `requests` library.

[2021-04-09 09:06] yasht01 commented on #75
@GouravSardana will the user give the endpoint only when `127.0.0.1:8000` is the URL or the user will always give the endpoint?

[2021-04-09 09:19] GouravSardana commented on #75
@yasht01 Just to be clear endpoint is basically that comes after '/'
For example - I need to get the users from a URL called 127.0.0.1:8000 and the endpoint is /users

So, the Combined URL would be 127.0.0.1:8000/users

[2021-04-09 09:21] GouravSardana commented on #75
For you next question -

We will have to test the REST API from this dynamic cli. Let's take an example - I run the server on my laptop. So rather than opening POSTMAN or third-party tool. I'll user DynamicCLI in the terminal to test my REST API endpoints

[2021-04-09 15:01] yasht01 commented on #75
Hey, if possible, can the mentors add the GSSoC label?

[2021-04-10 10:11] Ramas1998 commented on #76
Hi, Can I take up this issue ??

[2021-04-12 19:17] #75 closed

[2021-04-12 19:34] yasht01 commented on #75
@GouravSardana can you suggest me any other issue I can work on?

[2021-04-13 18:45] anshsrtv commented on #75
@yasht01 We have two issues (#45 & #50) available. Can you try any of those?

[2021-04-13 18:47] anshsrtv commented on #44
Any updates? @guptaaastha

[2021-04-14 06:04] guptaaastha commented on #44
Had other commitments, I'll finish this by tomorrow :)

[2021-04-14 12:25] guptaaastha commented on #44
A PR has been raised 😄
@anshsrtv

[2021-04-14 16:36] yasht01 commented on #50
Hey, @GouravSardana I do not know much about Testing and Integration. Can I work on this issue? Also, can you point out to some resources I can look into for learning about testing and integration?

[2021-04-14 16:44] #44 closed

[2021-04-15 08:40] GouravSardana commented on #50
@yasht01 Sure. You can work on this issue. Basically, you have to test each part of the cli starting from --version to test the API.

Here is some resource [click](https://realpython.com/python-testing/#:~:text=It%20does%20this%20using%20a,operates%20in%20the%20right%20way.&text=An%20integration%20test%20checks%20that,small%20component%20in%20your%20application.) [click](https://realpython.com/pyt

[2021-04-16 15:54] NamamiShanker commented on #17
Do you guys have any particular subreddit in mind?

[2021-04-17 08:16] GouravSardana opened #83 "Implement PUT in dynamic to post the response from an API"
This feature will include the following things -

1. Once a user will enter dynamic -PUT, it will ask for a URL to put and the default URL would be 127.0.0.1:8000 and it will ask for the endpoint or you can put it directly in the URL itself
2. It will ask for headers then it will ask for payloads
3.  Optional param - User-Agent
4. It will build on top of CURL.
5. The output will get in JSON with p

[2021-04-17 08:17] GouravSardana opened #84 "Implement DELETE in dynamic to post the response from an API"
This feature will include the following things -

1. Once a user will enter dynamic -DELETE, it will ask for a URL to put and the default URL would be 127.0.0.1:8000 and it will ask for the endpoint or you can put it directly in the URL itself
2. It will ask for headers then it will ask for payloads
3.  Optional param - User-Agent
4. It will build on top of CURL or Request
5. The output will get i

[2021-04-17 08:22] GouravSardana opened #85 "Save data to a Playbook"
As you all know our Dynamic CLI is used to find out answers from Stackoverflow. What if users want to save that question to their playbook.

Idea is to maintain a playbook in their local storage where all the package data will store and we can add an option after giving the answers to the StackOverflow question - Do you want to save this in your playbook? Y/N

If users replied yes then save it to

[2021-04-17 08:58] pranavbaburaj commented on #85
Maybe, we can create a `json` file and add it to the environment variable, from which the file is later accessed.  We can output tables to the console using [`prettytabe`](https://github.com/jazzband/prettytable)

[2021-04-17 09:05] guptaaastha commented on #83
Hi @GouravSardana can I take up this issue?

[2021-04-17 10:34] GouravSardana commented on #85
Nops. That works but we need to use some effective way to store the data. Later on, we can sync that data with the Notion/Github of the user. So that they can also access and it will save in the cloud for future purpose.

[2021-04-17 10:34] GouravSardana commented on #85
@pranavbaburaj BTW can you explain your approach to save the data into playbook?

[2021-04-17 10:35] GouravSardana commented on #83
Sure @guptaaastha . Please Go ahead

[2021-04-17 11:03] #33 closed

[2021-04-17 11:07] GouravSardana opened #86 "Copied the code from Stackoverflow Answer from the terminal"
The user should able to copy the code from the StackOverflow answer. For more, you can see this PR #82 and see the [GIF](https://user-images.githubusercontent.com/26577306/115042856-7c05e480-9ef1-11eb-9f18-784f1481778a.gif)

[2021-04-17 11:07] GouravSardana commented on #86
We want to add a button or utility to copy the code from the terminal to make it more feasible

[2021-04-17 11:26] NamamiShanker opened #87 "Navigate the questions list through arrow keys and exit with 'Esc' key"
## 💥 Proposal

The Dynamic now shows multiple relevant questions accessible by their question number. For ease of use, enable the user to cycle through questions with arrow keys instead. Instead of entering 0, allow the user to exit with Esc key.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/IndianOpenSourceFoundation/dynamic-cli/blob/master/CONTRIBUTING.md#r

[2021-04-17 11:28] NamamiShanker commented on #86
I can work on this issue

[2021-04-17 11:30] GouravSardana commented on #87
@NamamiShanker I just posted this in the comment of #82. Please work on it and your code is conflicting with the prompt-toolkit version. Fix that as well.

[2021-04-17 11:31] GouravSardana commented on #86
Please work on #87 first. After that, you can work on it. Meanwhile other contributors can also take this up

[2021-04-17 11:39] NamamiShanker commented on #85
I think it will be easy to do this. JSON or CSV any would work and saved answers can be stored in user config folder for Dynamic CLI. The data can be stored with fields like - time, ques_id, ques_link, ques_title, ans_id, ans_link, ans_title.

Later the playbook feature can access the file, present the questions which can be cycled over with arrow keys and its saved answer will be displayed below

[2021-04-18 06:53] GouravSardana commented on #85
Sounds good. We can go ahead with json because later on we can use that to sync it with Notion/Github repo.

[2021-04-20 07:45] reshchat commented on #84
Hi @GouravSardana can I take up this issue?

[2021-04-20 14:40] yasht01 commented on #50
Hey @GouravSardana I was really busy in some college work. Can I still work on this issue?

[2021-04-20 15:12] NamamiShanker commented on #85
I would like to work on this issue

[2021-04-20 18:33] NamamiShanker commented on #87
I have added PR #89 for this issue. Please review it.

[2021-04-20 19:35] NamamiShanker commented on #85
Great! Please assign me to it.

[2021-04-22 12:41] GouravSardana opened #91 "Add TextArea while adding headers in the Dynamic -GET"
@utsabc Please research and work on this issue as mentioned #90

[2021-04-22 13:07] utsabc commented on #91
Sure will look into this

[2021-04-23 18:25] #87 closed

[2021-04-25 10:57] NamamiShanker commented on #85
I am saving JSON data in a `playbook.json` file in the following format:
[code]
Is this alright? Or should I change the format?

[2021-04-25 12:48] GouravSardana commented on #85
For now, format is alright but it should be in append mode. Let's say i save a question once there were 2 possibility -
1. Question already exist.
2. If not exist then it will append the file rather than creating a new one.

[2021-04-26 08:38] GouravSardana commented on #91
@utsabc Are you working on it or should I make it open to everyone who wants to work

[2021-04-26 08:43] utsabc commented on #91
Hey, @GouravSardana I did the initial research on this but unfortunately didn't find a suitable library for the use case so I was thinking of other ways to approach the problem. In the meantime please make it an open issue, we can benefit form new insights

[2021-04-28 18:52] GouravSardana opened #93 "Add Playbook to Notion"
In this feature, we need these things -
1. Create a notion account and generate the token. The flow would be like this -

    - dynamic --notion -> Open up notion login to the browser and ask them to log in.

    - After this -> The terminal will show. 'Notion Logged in' or 'Notion logged in failed'

2. Now it's time to upload. Use dynamic --notionupload or nu. Then it will automatically fill up t

[2021-04-29 13:37] NamamiShanker commented on #93
When you mean to implement it from the scratch, you mean we can't use the `notion` library you linked? We have to build the authentication and uploading system on our own?

[2021-04-29 16:55] GouravSardana commented on #93
Nops. Authentication - we can used from notion but from the product prospective, we have to reduce the 3rd party package. Because if someday our 1 thing will upgrade then it might effect other packages.

[2021-05-01 11:20] NamamiShanker commented on #93
I agree. I was wondering if we can implement browser login for the notion login. A browser window will open upon typing `dynamic -notion`. The user will log in to the notion. The program will receive an authentication token that can then be used to sync playbook data.

[2021-05-03 13:02] #85 closed

[2021-05-04 04:58] GouravSardana commented on #93
Yup, that we have to made it from scratch or need to find some other way

[2021-05-17 13:01] earnsans commented on #50
Hey @GouravSardana I'm a gssoc participant. Can I work on this issue.

[2021-05-19 11:43] guptaaastha commented on #83
@GouravSardana The CLI does not support windows OS and therefore will not be able to take up this issue at the moment. Please un-assign me. I'll also raise an issue on the repository for the same.

[2021-05-19 11:50] guptaaastha opened #94 "Dynamic CLI support for windows OS"
Currently Dynamic CLI has a dependency on the `termios` module. This module does not support windows OS (refer the links provided below for reference). This issue is to point attention towards this drawback and open up a conversation whether this is something that can be addressed.

Please refer:
[https://docs.python.org/3/library/tty.html](https://docs.python.org/3/library/tty.html)
[https://docs

[2021-05-19 12:09] NamamiShanker commented on #94
This dependency has been caused because of the `simple-term-menu` module. We need this module for StackExchange results to be printed the way they are. Please refer to PR #89. Windows users can use WSL for using Dynamic-CLI.

[2021-05-19 12:15] pranavbaburaj commented on #83
Yes @guptaaastha, the cli is not supporting windows right now due to the `termor` package used in the application. Some modules used are not yet implemented for windows. We are searching for a way to solve this issue. All contributions are appreciated.

[2021-05-19 12:17] guptaaastha commented on #94
One can surely use WSL but that would make Dynamic CLI restrictive and available only for users who are on Unix OS. I think we should try to be more inclusive and find alternatives that support all users regardless of their OS 😄

[2021-05-19 12:25] NamamiShanker commented on #94
We can use `curses` but that can reduce UI/UX capabilities.

[2021-05-19 12:26] pranavbaburaj commented on #94
Hmm yeah

[2021-05-19 12:28] pranavbaburaj commented on #94
Right now, I am planning to use an online linux environment like [repl.it](https://repl.it/) or [CS50 IDE](https://ide.cs50.io/).

[2021-05-19 17:45] GouravSardana commented on #94
I think we can do specific change only for windows env. So that other would not face UX issues.

[2021-05-19 17:46] GouravSardana commented on #94
Or else we need to find out some other way to support all the environment equally and efficiently.

[2021-05-19 17:52] pranavbaburaj commented on #94
I think this is what we have to do

[2021-05-19 18:05] GouravSardana commented on #94
I'll do a research and find any alternative. You guy's can also search, If you find anything do let me know here.

[2021-05-20 11:09] NamamiShanker commented on #93
Should we store the token locally in some file so that the user doesn't have to log in again until the cookie expires?

[2021-05-21 16:27] GouravSardana commented on #94
This is quite useful. You guys can also take a look. 2-3 people gave suggestions regarding the same problem that we are facing - https://github.com/bchao1/bullet/issues/2

[2021-05-21 17:03] subhangi2731 commented on #84
@anshsrtv please assign this issue to me

[2021-05-21 17:04] subhangi2731 commented on #83
@pranavbaburaj can i work on this

[2021-05-21 17:05] subhangi2731 commented on #76
@anshsrtv I see no pr has been made can u please assign me I will send pr within 2 days

[2021-05-22 05:01] pranavbaburaj commented on #94
But, they don't have a solution for that 🙁

[2021-05-22 07:14] GouravSardana commented on #94
They have but that was specific to windows only. Still searching for some other alternative

[2021-05-22 08:55] guptaaastha commented on #94
Let's be on the lookout for solutions

[2021-05-22 15:29] pranavbaburaj commented on #94
https://github.com/IndianOpenSourceFoundation/dynamic-cli/discussions/97

[2021-05-22 16:14] GouravSardana commented on #94
@pranavbaburaj i think you wrote wrong. It's not support for windows and by mistake you wrote it only supports for windows

[2021-05-22 16:16] guptaaastha commented on #94
I just noticed this too, @pranavbaburaj  please correct it.

[2021-05-22 17:24] pranavbaburaj commented on #94
I have updated it, Thank you 🙂

[2021-05-24 12:46] subhangi2731 commented on #84
@GouravSardana please assign this issue to me

[2021-05-24 12:46] subhangi2731 commented on #83
@GouravSardana please assign this issue to me

[2021-05-24 13:19] pranavbaburaj commented on #83
Yeah, you can. But, the question is how 😐 ?

[2021-05-30 09:36] earnsans commented on #50
thanks for assigning this to me, I'm currently working on another project, shall do it as soon as possible, thank you.

[2021-06-06 11:21] harshakhmk commented on #84
I would like to take up this issue, can raise an MR soon

[2021-06-06 11:23] GouravSardana commented on #84
Yes please work on it @harshakhmk

[2021-06-06 12:12] harshakhmk opened #105 "BUG: Identation error"
Getting an indentation error after running ```dynamic -s``` in ```arguments/search.py```
![identation-error](https://user-images.githubusercontent.com/56113657/120923870-6d1c0100-c6ee-11eb-8bf9-4992611d77be.png)
 I am on master branch with all latest changes

[2021-06-06 12:24] pranavbaburaj commented on #105
Oh, Thank you for reporting the issue. 😄 . We will fix it. Thank you once again.

[2021-06-06 12:34] harshakhmk commented on #105
Can I fix this error?

[2021-06-06 12:36] GouravSardana commented on #105
Sure @harshakhmk . You can work on it. I'm assigning this issue to you.

[2021-06-06 13:38] harshakhmk commented on #84
Doesn't it have widows support
![windows-issue](https://user-images.githubusercontent.com/56113657/120926428-6eebc180-c6fa-11eb-965e-7754125c73ba.png)

[2021-06-06 14:01] GouravSardana commented on #84
You can use these [things](https://itsfoss.com/run-linux-commands-in-windows/) for now. We are looking into it for windows support.
@pranavbaburaj can help you setup

[2021-06-06 15:12] harshakhmk commented on #84
I tried the above ways but getting the same error, I think those are just running for commands and not manipulate the internal functionalities, working with basic commands like ``` ls, cat, copy``` etc works fine but this command has to do something with internal functionality of Linux os, so testing would this seem difficult, I will raise an MR following the code guidelines and flow of codebase c

[2021-06-06 15:29] pranavbaburaj commented on #84
Sorry @harshakhmk, Sorry for the inconvenience, dynamic cli is at present not supported for windows. Contributors using windows are recommended to use [gitpod](http://gitpod.io/). Gitpod is an online vscode environment that runs on Linux.

We are trying to find a module which supports windows. If you have any recommendations, please contribute your ideas [here](https://github.com/IndianOpenSourceF

[2021-06-06 16:05] #105 closed

[2021-06-08 09:53] harshakhmk commented on #76
@GouravSardana  I would like to take up this issue

[2021-06-08 09:56] GouravSardana commented on #76
Yes you can @harshakhmk

[2021-06-08 10:05] harshakhmk commented on #76
How shall we take POST request payload, shall we take it as input from terminal  and convert them into a dictionary or shall we read it from a JSON @GouravSardana

[2021-06-09 10:42] pranavbaburaj commented on #76
Well, I think we should add both ways. So that, the user can choose which one to do.

[2021-06-18 09:00] GouravSardana commented on #94
We can use this as a backup option for windows- https://github.com/aegirhall/console-menu

[2021-06-18 11:51] pranavbaburaj commented on #94
Hmm, but we will have to rewrite it entirely or reimplement it for windows 🤔

[2021-06-18 13:04] GouravSardana commented on #94
Fow now should we only integrated it when OS is windows ?

[2021-06-18 13:57] pranavbaburaj commented on #94
Yeah, We first check if the platform is windows, then create this interface for windows

[2021-06-21 10:04] GouravSardana commented on #94
@pranavbaburaj Yes, This can be done but this would be temp. We have to migrate the whole things to something else

[2021-06-21 10:12] GouravSardana opened #112 "Open a nano editor while uploading the Payload in POST"
We have 2 options right now. One is to enter from the terminal and the other is to upload a .json file for payload. We can add a new option that I have discussed with @harshakhmk in PR #111 . We have to implement it for a better user experience.

[2021-06-29 09:48] GouravSardana opened #115 "IOSF Virtual Meet Up"
### Discussed in https://github.com/IndianOpenSourceFoundation/dynamic-cli/discussions/114

<div type='discussions-op-text'>

<sup>Originally posted by **GouravSardana** June 28, 2021</sup>
Hey Everyone,

I hope everything is good. Can we have a virtual meet up next this Saturday (July 3) where we will discuss about what's going on and what need to be done in Dynamic CLI ?

Also need your suggesti

[2021-07-03 10:46] himanshu007-creator commented on #115
Meeting was really awesome!

[2021-07-04 10:44] pranavbaburaj opened #117 "Keybindings?"
## 🚀 Feature

My idea:
After displaying the results(from StackExchange), we can open up the stdin to receive keypresses. So that we can perform specific tasks(or functions) with keyboard shortcuts.

Examples:
`ctrl+s` - > to save results to a file
`ctrl+r` -> Reload the results.

And many more...

The [`keyboard`](https://pypi.org/project/keyboard/) module will help us listen for keypresses.

###

[2021-07-05 08:32] GouravSardana commented on #117
Hey @pranavbaburaj . I think this would be a awesome features to work and this will also increase the UX as such in the cli. We can start working on it to make this happen

[2021-07-06 19:08] GouravSardana commented on #115
I'll share the recording but meanwhile you can join our telegram channel and start introducing yourself - https://t.me/joinchat/FjyKgz1w3ppiZjI1

I'll happy to meet all of you there as well :)

[2021-07-10 21:11] Souvikns commented on #93
Hey, I have used the notion API before, build [this for fun](https://github.com/Souvikns/Notion-Board). I would like to work on this, would be nice to have some insight.

[2021-07-11 02:38] GouravSardana commented on #93
@Souvikns So basically we implemented the login using notion. If you download dynamic and explore --notion then you can able to login. That way you will get auth token. @NamamiShanker implemented that features.
We have playbook as well --playbook. We need to upload that playbook data to notion. So that in future if we change our computer/Laptop our playbook still remain in sync.

[2021-07-11 15:30] Souvikns commented on #93
Hey, so I am using windows and as it does not run on windows I am running on GitHub codespaces, so when I am using the command `dynamic --notion` it shows `login unsuccessful` as there is no chrome. Is there any other way to set it up.

[2021-07-11 19:27] GouravSardana commented on #93
Ahh got it. One way is to use VMware and install linux and use the dynamic.

Another simple way is to comment all the dependencies of terminos. That was causing incompatibility. I'm looking for another way but will take some time. You can try second way

[2021-07-12 06:49] kaustubhgupta opened #118 "Dynamic CLI setup for Windows"
## 💥 Proposal

As per issue #94 discussions, contributors are looking forward to windows support, and the `termos` package we are using is only implemented for Linux machines.

Till the time we release a proper windows version, the contributors should be able to contribute to the code base. What if I tell you that you can do your development in a Linux environment and still use windows machines? *

[2021-07-12 07:01] pranavbaburaj commented on #118
Yes, WSL is of course a great solution. But, we can't force our contributors to download pretty heavy software just to contribute to the project(1.82 GB is pretty heavy). But, contributors can use WSL if they wish to 🙂 . Thank you for recommending a solution 🤗 🙂

[2021-07-12 07:12] kaustubhgupta commented on #118
WSL is not much heavy, plus this is not only limited to dynamic CLI but it will support them in future projects also

[2021-07-12 07:35] pranavbaburaj commented on #118
Yes, that's also true 🙂

[2021-07-12 08:22] GouravSardana commented on #118
For now we can adopt this plan but i don't think this will work longer. We have to remove the dependencies which is dependent upon OS

[2021-07-17 17:24] GouravSardana commented on #118
Hey @kaustubhgupta , Are you working on this?

[2021-07-18 01:17] kaustubhgupta commented on #118
I didn't got the confirmation on this, that's why I was waiting. Should I make this resource? If yes, then where to put this file and under which section should I link it in the readme.

P.S: Not related to the issue, I am not able to join the telegram group. The link is not working for me.

[2021-07-18 02:38] GouravSardana commented on #118
Yup, You can get started on this. You can put in the installment section. Please mention only for windows. Other than that follow the above thing (pip install ...)

Try this link - https://t.me/joinchat/FjyKgz1w3ppiZjI1

[2021-07-18 02:44] kaustubhgupta commented on #118
okay, I will pull up the PR soon.

[2021-07-20 10:03] kaustubhgupta commented on #118
Update: It might take a little longer time, I am quite busy these days.

[2021-07-20 10:11] GouravSardana commented on #118
Take your time

[2021-07-23 09:18] gourav-bhnetwork opened #119 "Facing issue while installing Dynamic on MAC"
Hey,

I installed dynamic cli on my local. I'm facing issue -

[code]

To solve this, You'll have to follow below instructions in bashrc or zshrc depend upon your mac.

1. Open bashrc/zshrc and copy paste below line
[code]
2. run source ~/.bash_profile

Now issue will be resolved. Link [here](https://stackoverflow.com/questions/38916461/valueerror-unknown-locale-utf-8-when-importing-pandas-in-pyth

[2021-07-23 09:23] GouravSardana commented on #119
Hey everyone,

This is me only trying dynamic on mac. So i face this issue.

Can somebody add this in the read me?

[2021-07-28 13:51] GouravSardana commented on #117
@pranavbaburaj Are we working on this or do we need any discussion on it?

[2021-07-28 13:51] GouravSardana commented on #117
If you are busy, I can also pick it up

[2021-07-28 14:51] pranavbaburaj commented on #117
ye, I have exams. I will work on it after the exams. 🙂

[2021-09-05 07:01] pranavbaburaj opened #120 "Fix issues with windows"
As we are using a library that just works on  UNIX platforms, it's difficult to run the application on windows computers. But, recently I found out this library called [textual](https://github.com/willmcgugan/textual) which helps us create beautiful terminal user interfaces like in the image below.
![](https://github.com/willmcgugan/textual/raw/main/imgs/textual.png)

The library is only supported

[2021-09-05 16:09] GouravSardana commented on #120
Thanks @pranavbaburaj . That's a great idea but few doubts that we need to research -
1. Is this lib will give the similar structure like structure with up and down arrow ?
2. Does this break the other functionality like playbook or notion or conflicting with other library ? (I don't think so but still we need a POC before using this because we already had done a mistake of that lib that doesn't s

[2021-09-05 16:21] pranavbaburaj commented on #120
Sure, I will also do some researches.

I don't think the new library affects the second issue should me sorted out by manual event listeners i guess.

[2021-09-30 11:01] GouravSardana opened #121 "Dynamic-CLI Logo"
We need dynamic-cli logo. If anybody wants to contribute :)

[2021-09-30 11:04] GouravSardana opened #122 "Add a new GIF in the Readme.md"
We need a new GIF for our readme. The previous one is quite old. We have new features as well with better UX

[2021-09-30 11:07] GouravSardana opened #123 "Add windows guidelines in readme"
Add the guidelines to install dynamic on the window OS because the user needs to set up WSL in the window OS to make it work. We are working on it to make it independent but some of the binaries are different in window and termios is causing the issue. For more detail refer #94

[2021-09-30 11:19] GouravSardana opened #124 "Add a feature to check the concurrency of an API"
We have a feature where you can make a post request from the terminal using dynamic --POST. We need to add a new thing to test the API concurrency.

Suppose, you are testing the performance of an API i.e How many loads it can take at one time. Make an args for this and it will take 1 more parameter i.e value
 Example -
Dynamic --POST --perftest      [args name can be anything other than perftest b

[2021-09-30 11:34] GouravSardana opened #125 "Add xonsh shell in dynamic"
We have to make autocomplete feature for dynamic. To make it work we need to create a xonsh shell. Still confused ?
Ref to this - [xonsh](https://xon.sh/)

How does it actually works?

When a user types dynamic. It will redirect to a different shell on the same terminal and we can use autocomplete in that shell because our normal terminal doesn't allow you to autocomplete.

Ref **first 1 sec** of

[2021-09-30 11:35] GouravSardana opened #126 "Autocomplete for Dynamic CLI"
We need to autocomplete feature for dynamic to make it easier to use.

For example -
If I type `dynamic ` in the terminal it will show a popup like --help, -post, -no

See this -

![OnPaste 20210930-165426](https://user-images.githubusercontent.com/31731827/135446609-daa5597c-219a-4e17-a90f-7a09eca93bd3.png)

For implementation of autocomplete in python refer to this - https://python-prompt-toolki

[2021-09-30 11:38] #84 closed

[2021-09-30 11:39] GouravSardana commented on #119
Can someone add this in Readme under mac guidelines ?

[2021-09-30 11:43] GouravSardana opened #128 "Call for Moderator For Hacktoberfest"
### Discussed in https://github.com/IndianOpenSourceFoundation/dynamic-cli/discussions/127

<div type='discussions-op-text'>

<sup>Originally posted by **GouravSardana** September 30, 2021</sup>
Hey Everyone,

We want a moderator for hacktoberfest for reviewing the PRs. Please feel free to drop your email in the comment or just send a mail at ping@iosf.in</div>

[2021-09-30 12:14] pranavbaburaj commented on #126
Hmm, that would be a nice addon

[2021-09-30 13:13] rohan26062001 commented on #122
/assign

[2021-09-30 13:25] GouravSardana commented on #122
Sure. Please do that. I'll assign it to you

[2021-09-30 13:37] pranavbaburaj commented on #128
I would like to moderate hacktoberfest contributions :)

[2021-09-30 13:53] GouravSardana commented on #128
You are already in the organisation. You can review PRs :)

[2021-09-30 14:15] rohan26062001 commented on #122
Okay

[2021-09-30 14:23] pranavbaburaj commented on #122
![Untitled design](https://user-images.githubusercontent.com/70764593/135473377-ccbd2ba8-30e7-4e79-9dcb-710852523ba4.gif)
I happened to create a gif a few days ago.

[2021-09-30 14:33] GouravSardana commented on #122
Pranav, It's just for the search. We need other params as well - api's req, notion, playbook

[2021-09-30 14:41] pranavbaburaj commented on #122
Oh yeah.

[2021-09-30 14:46] pranavbaburaj commented on #123
I think it will be better to just link a guide on installing wsl rather than writing up one on our own. What do you think?

[2021-09-30 14:58] gourav-bhnetwork commented on #123
Yup. Adding a link would be better. Giving an example screenshot would work. Maybe we can make a new file called window_setup.MD and add the steps + links + screenshot

[2021-09-30 15:15] pranavbaburaj commented on #123
Hmmm yeah.

[2021-09-30 16:49] rohan26062001 commented on #122
![dynamic_cli](https://user-images.githubusercontent.com/74822378/135497497-d33ee55b-1acf-4208-bede-d13a0f13c10d.gif)
I uploaded this, can you please check

[2021-09-30 17:19] GouravSardana commented on #122
Looks good can you please crop it down to only terminal ?

Don't be nervous. We all are iosf family. Feel free to ask anything ☺️

[2021-10-01 02:23] kaustubhgupta commented on #118
Closing this issue here, can be continued in #123

[2021-10-01 02:23] #118 closed

[2021-10-01 02:31] rohan26062001 commented on #122
![dynamic_cli](https://user-images.githubusercontent.com/74822378/135556506-a31d0dd9-d943-403c-bee5-7108bffd5895.gif)
Done Sir, can you please check?

[2021-10-01 06:07] GouravSardana commented on #122
Looks good. Please go ahead and add it in the readme

[2021-10-01 06:40] rohan26062001 commented on #122
Actually, I've already updated it in my forked repository. Can you please tell me what to do now?

[2021-10-01 06:46] pranavbaburaj commented on #122
You can go on and create a [pull request](https://github.com/IndianOpenSourceFoundation/dynamic-cli/compare)

[2021-10-01 07:15] rohan26062001 commented on #122
Done Sir

[2021-10-01 18:45] honeybhardwaj commented on #121
hi @GouravSardana ,

How about this. if you can let me know what type of logo needed i can give it a try .
![Dynamic CLI](https://user-images.githubusercontent.com/51120790/135670889-fa4687bb-d52a-4c10-b014-b82421641dfa.png)![Dynamic CLI (1)](https://user-images.githubusercontent.com/51120790/135671317-5112f7bd-1532-442d-9648-1bf1c07e878c.png)

Thanks
Honey Bhardwaj

[2021-10-01 19:03] GouravSardana commented on #121
A simple and clean. Checkout other terminal utilities logos. Create multiple variation and we can finalize one in the end.

More than 1 contributors can also work on this issue

[2021-10-01 19:39] honeybhardwaj commented on #121
![Dynamic CLI (4)](https://user-images.githubusercontent.com/51120790/135677220-cae04d07-fc8a-4171-adad-2f7b282637ca.png)
![Dynamic CLI (2)](https://user-images.githubusercontent.com/51120790/135677242-e06a1214-3071-40d0-9049-a5317440d818.png)

[2021-10-01 19:47] honeybhardwaj commented on #121
see even tried 1 animative
![Dynamic CLI (1)](https://user-images.githubusercontent.com/51120790/135678034-619e2915-d183-4fc2-a1b3-be0a3a31f5f3.gif)

[2021-10-02 03:49] pranavbaburaj commented on #121
![image](https://user-images.githubusercontent.com/70764593/135702713-46dcacfd-717c-4371-85c3-08c319c70d97.png)

I designed this logo using figma. What do you think?

[2021-10-02 07:40] #122 closed

[2021-10-02 07:43] avishwakarma commented on #121
Check this out
![dynamic-cli](https://user-images.githubusercontent.com/389185/135708156-2d010d90-454f-4ab3-bf33-e62c29a6446c.png)

[2021-10-02 08:35] pranavbaburaj commented on #121
That looks good

[2021-10-04 07:55] GouravSardana commented on #121
@avishwakarma , @honeybhardwaj @honeybhardwaj  can you please share the png and svg of these ?

[2021-10-04 08:04] honeybhardwaj commented on #121
sure can you let me know which one @GouravSardana  and should i mail you??

[2021-10-04 08:14] GouravSardana commented on #121
Please make a zip folder of all your variations and push it in iosf-design repository under logos - https://github.com/IndianOpenSourceFoundation/iosf-design

[2021-11-27 09:10] GouravSardana opened #137 "Inputs are still asking for tags"
Hey @pranavbaburaj ,

As per your PR, It should not ask for tags ? But I'm getting the tags as a input while running the dynamic

[2021-11-27 09:13] GouravSardana commented on #137
I think this is quite confusing. We can mention somewhere that tags are optional.

[2021-11-27 12:41] pranavbaburaj commented on #137
The user will be prompted to add tags. But, the user can leave it blank.

[2021-11-30 14:01] GouravSardana commented on #137
But we can mentioned somewhere that this is option like tag (Optional)

[2021-12-22 06:09] GouravSardana commented on #121
I'll be choosing logo shared by Ashok. Thanks Ashok. All credit goes to you and lemme know if you want me to add credit somewhere else as well.

Thanks everyone for  the efforts <3 Kudos to all.

[2021-12-22 21:11] avishwakarma commented on #121
I am glad that I was able to help. Let me know if you need anything else.

[2021-12-25 12:42] GouravSardana opened #142 "Security Hotspot"
Hey Team,

Can someone please check this security hotspot [here](https://sonarcloud.io/project/security_hotspots?id=IndianOpenSourceFoundation_dynamic-cli&sinceLeakPeriod=true). It seems we are calling os.system. Can we please remove this? It's not destructive but still we have to remove this.

Anyone can pick and see why we are using that and what other options we have to replace this!

cc @prana

[2021-12-26 04:23] pranavbaburaj commented on #142
I tested the app after commenting out the `os.system` call and it works fine. I think we can remove that from the file.

[2021-12-26 05:57] GouravSardana commented on #142
Sure. Go ahead and raise a PR

[2021-12-26 11:30] #142 closed

[2021-12-26 11:34] GouravSardana opened #144 "Duplicate Entry - BUG"
Hey Team,

We are saving the data to playbook from utilities but I found this same thing in the search.py . I don't think we are using it because the line which are printing doesn't match to this search.py string.

Can someone check this thing [here](https://sonarcloud.io/project/issues?id=IndianOpenSourceFoundation_dynamic-cli&open=AX3N3DVTVwr6gt1dCHdw&resolved=false&types=BUG) ?

cc @pranavbabur

[2021-12-26 11:36] GouravSardana commented on #144
I don't think this is useful -
 `<html>
<body>

colored(
--
111 |   |   | f"\U0001F604 Answers successfully saved into {filename}",
112 |   |   | "green",
113 |   |   | ),
114 |   |   | colored(
115 |   |   | "\U0001F604 Answers successfully saved into" + filename, "green"

</body>
</html>`

And this is the original string which we are printing while adding it to playbook in utilities -

`self.pla

[2021-12-27 12:07] GouravSardana commented on #144
Anyways, I fixed it [here](https://github.com/IndianOpenSourceFoundation/dynamic-cli/commit/f3c7acb1ce9440871be13e5594dead939188fdf4)

[2021-12-27 12:54] pranavbaburaj commented on #144
Nice thanks. Sorry for the delay, I didn't get time to look at GitHub today. I was preparing for exams.

[2021-12-27 16:41] GouravSardana commented on #144
Np buddy. Prepare for your exams. All the best from our community:)

[2021-12-27 16:46] pranavbaburaj commented on #144
thanks :)

[2022-01-08 09:02] #144 closed

[2022-01-08 09:56] kushshiv opened #148 "StackOverflow Query does not contain tags even if entered"
# Issue :
StackOverflow Query does not contain tags even if entered. It should be an optional field. And should be included if Tags are entered by user. But currently it's not there in query.

# Screenshot:
|        Tags not Entered         |          Tags Entered           |
| :---------------------: | :------------------------: |
| <b>![Screen Shot 2022-01-08 at 3 15 31 PM](https://user-images.g

[2022-01-08 11:10] pranavbaburaj commented on #148
Well, if I'm correct. the search result doesn't change. So i guess its not a problem

[2022-01-08 16:40] GouravSardana commented on #148
I think @pranavbaburaj made this tag optional. If you doesn't enter the tag, It'll still show the result

[2022-01-08 17:21] pranavbaburaj commented on #148
Yes, removing it doesnt make a difference in the result.

[2022-01-09 06:07] kushshiv commented on #148
yes for sure it shows the result... But my query is if we enter the tag, it should be there in the query:
![image](https://user-images.githubusercontent.com/33164379/148671091-3bc27bb1-3b84-4217-981a-a4fac5bbf934.png)

If you see in this query params `tagged=` remains null even if tags are entered by the user (Here I entered 'python' as tag but its not there in query param)...
Optional means, if w

[2022-01-09 06:18] GouravSardana commented on #148
@pranavbaburaj you removed the tag #136

[2022-01-09 06:18] GouravSardana commented on #148
May be it’s by chance you removed it

[2022-01-09 06:41] kushshiv commented on #148
# ask question
    for each_query in queries:
        # Be careful if there are
        # KeyBoard Interrupts or EOErrors
        try:
            prompt = Prompt(str(each_query)).prompt()
            if each_query == "Tags":
                continue
            if prompt.strip() == "":
                SearchError(
                    "\U0001F613 Input data empty", "\U0001F504 Please try again "

[2022-01-09 08:47] pranavbaburaj commented on #148
Oh. my bad. Can you work on a fix on this or should I?

[2022-01-09 16:48] kushshiv commented on #148
I will check and will raise PR...

[2022-01-09 18:46] pranavbaburaj commented on #148
Thanks :)

[2022-01-10 12:37] #148 closed

[2022-01-16 11:16] #137 closed

[2022-03-01 07:37] Harshil-Jani opened #156 "Having Issue with Installation"
I have been trying to install Dynamic CLI as per developers guidelines given, but when I ran `dynamic -v` it throwed some traceback call.
[code]

I am using `Python 3.8.10`.
I even tried manually installing importlib-metadata using  `pip3 install importlib-metadata` but this says
 `Requirement already satisfied: importlib-metadata in /usr/lib/python3/dist-packages (1.5.0)
`

[2022-03-01 08:02] GouravSardana commented on #156
Hey @Harshil-Jani ,

Thanks for putting this issue out. I tried in my local again to install the dynamic from fresh. I didn't get the error as such

`(temp) gourav@LAPTOP-PHS5P97J:~/ubuntu$ dynamic -v`
`Dynamic-CLI version 0.1.0`

I'm also using python 3.8.10. Can you specify which OS you're using ? We currently support linux based OS and Mac. For window, you have to install WSL to make our dynami

[2022-03-01 08:03] GouravSardana commented on #156
Maybe it's conflicting with your local packages which are installed. You can try using virtualenv and install dynamic in the virtual env

[2022-03-01 08:18] Harshil-Jani commented on #156
I am using Ubuntu 20.04 LTS

Oh Okay. I will be looking into this and let you know if it works or not.

[2022-03-01 10:05] kriptonian1 commented on #126
Is it like what we have to fetch it from history

[2022-03-01 10:33] GouravSardana commented on #126
Nops. Not from the history. We have to make patterns according to what user is typing

[2022-03-01 10:34] GouravSardana opened #157 "From GSSOC"
Hey guys,

Will add more issues today or tomorrow. Meanwhile you can look for the issues which are available

[2022-03-01 12:50] debjitpurohit commented on #157
give me a issue

[2022-03-01 13:05] GouravSardana commented on #157
@debjitpurohit please go through the issues section and choose according to your skill set and level

[2022-03-01 13:21] debjitpurohit commented on #157
ok sir

[2022-03-01 13:54] GouravSardana commented on #156
Please lemme know if you need more help else we’ll close this issue

[2022-03-01 19:20] Harshil-Jani commented on #156
@GouravSardana  I lastly used `sudo pip3 install dynamic-cli` but found no soultion to existing problem. So, If you find any solution to that please let me know. I have tried by changing some Paths but it  didn't worked.

[2022-03-01 19:21] GouravSardana commented on #156
Try installing in an environment variable

[2022-03-02 10:20] sudojarvis commented on #125
Hi, I would like to work on this issue. Could you please give some head start?
It would be helpful.

[2022-03-02 10:45] GouravSardana commented on #125
Go ahead buddy @sudojarvis

[2022-03-02 15:58] GouravSardana commented on #91
Don’t take any worry about assigning. Work on it and tag this issue in your PR

[2022-03-02 17:05] omarfareed commented on #86
assign it to me

[2022-03-02 17:08] omarfareed commented on #86
can you assign me please

[2022-03-02 18:43] GouravSardana commented on #86
Don’t worry about assigning. Go ahead and work on it

[2022-03-02 19:03] omarfareed commented on #86
ok, thanks.

[2022-03-02 19:55] sahilsuman933 commented on #156
Hey @Harshil-Jani I am using Ubuntu 21.10 and Python Version 3.9.7 and it is working great.

I also faced the issue at last step, it was due to permission issue. Which you can fix it by adding sudo before it.

Here is the exact command: `sudo pip3 install -e . `

[2022-03-02 20:02] sahilsuman933 commented on #17
@GouravSardana if it is not an urgent feature request that needed to be implemented then can you please assign this issue to me?

I might be able to add this feature within 2-3 Weeks.

[2022-03-02 20:02] Harshil-Jani commented on #156
Woahhhh ! Really missed on that. Thankyou so much @sahilsuman933 !! It worked

[2022-03-02 20:13] sahilsuman933 commented on #156
@Harshil-Jani You are welcome :D

[2022-03-03 05:20] GouravSardana commented on #17
@sahilsuman933 np. Go ahead and work on it

[2022-03-03 06:43] sudojarvis commented on #125
@ GouravSardana gitsome uses xonsh shell right. I have to do a similar thing right?

[2022-03-03 06:47] sudojarvis commented on #125
Do we have to do it from scratch or we can merge it from xonsh.

[2022-03-03 06:52] GouravSardana commented on #125
@sudojarvis That’s correct gitsome uses the xonsh shell.
no no, you don’t have to create it from scratch just leverage the xonsh and try to replicate the flow from gitsome

[2022-03-03 12:10] FatimahAdwan commented on #50
hey, I see GSSOC'21 under this issue, is it still okay to take it up for GSSOC'22. would like to work on it. am 2022 GSSOC particpants.

[2022-03-03 18:06] AbhijitDutta338 commented on #117
@GouravSardana, I am a gssoc participant. Can I work on this issue?

[2022-03-03 18:11] pranavbaburaj commented on #117
Yeah sure.

[2022-03-03 18:31] GouravSardana commented on #117
Go ahead and work on it. In your PR tag this issue

[2022-03-05 07:56] GouravSardana opened #158 "Add new GIFS for DynamicCLI readme"
We want to add new GIFs for our dynamic CLI in our readme just to make it easier for others to see what features we have in our CLI. Those GIFs should be in proper structure and will not contain any other irrelevant data

[2022-03-05 07:57] GouravSardana commented on #158
GIFs for -
- APIs testing -> GET, POST
- Dynamic Search
- saving to the playbook
- Retrieving from Playbook

[2022-03-05 08:01] GouravSardana opened #159 "Test Cases - Write Unit test for our GET API feature"
As a developer, I want to write a unit test for GET API feature in our CLI. This should be a python test. Make a new folder named "TEST" and make a file according to your test name

[2022-03-05 08:01] GouravSardana opened #160 "Test Cases - Write Unit test for our POST API feature"
As a developer, I want to write a unit test for POST API feature in our CLI. This should be a python test. Make a new folder named "TEST" and make a file according to your test name

[2022-03-05 09:53] sudojarvis commented on #125
@GouravSardana  could you please assign the issue to me under GSSOC'22.

[2022-03-05 10:29] GouravSardana commented on #125
Np. Work on this issue. Don’t worry about assigning the issues. I’ll take care of that

[2022-03-05 11:01] saidhanya18 commented on #123
could you please assign this issue to me

[2022-03-05 12:44] PradyumnaKrishna commented on #157
Hey @GouravSardana, I think python-poetry can be used to manage the dependencies and packaging of the project (https://python-poetry.org).
GNU make is good for build, setup, test and lint the project with makefile (https://www.gnu.org/software/make/manual/make.html).

Take a look and I will create the relevant issues.

[2022-03-05 12:44] adii21-Ux commented on #160
Hi @GouravSardana I would like to work on this one

[2022-03-05 13:26] GouravSardana commented on #157
Go ahead and add the issue. LGTM @PradyumnaKrishna

[2022-03-05 13:26] GouravSardana commented on #160
Go ahead and work on it. I’m assigning it to you

[2022-03-05 13:56] PradyumnaKrishna opened #161 "Add Poetry for dependency management"
### 🚀 Feature

Poetry is used for python packaging and dependency management. Look at [guide](https://python-poetry.org/docs/basic-usage/#initialising-a-pre-existing-project) on how to initialise it.

Make sure these functionality works:
- [ ] `poetry install`
- [ ] `poetry build`
- [ ] `poetry publish`

### Other Resources
1. https://www.brainsorting.com/posts/publish-a-package-on-pypi-using-poet

[2022-03-05 14:12] PradyumnaKrishna opened #162 "Add MakeFile to ease development process"
### 🚀 Feature

Create a `MakeFile` to simplify project setup and ease the development process.
It requires #161 to complete, so pickup that or wait for it to complete before start working on this.

### Resources
1. https://makefiletutorial.com

Feel free to contact me for help.

[2022-03-05 15:44] GouravSardana commented on #161
Thanks, @PradyumnaKrishna for taking the initiative for creating/bringing this issue

[2022-03-05 15:57] salma77 commented on #161
hi there @GouravSardana and @PradyumnaKrishna can I get assigned to this issue?

[2022-03-05 16:05] sahilsuman933 commented on #158
@GouravSardana Can I work on this issue?

[2022-03-05 16:06] sahilsuman933 commented on #159
@GouravSardana Can I work on this issue?

[2022-03-05 16:13] PradyumnaKrishna commented on #161
Sure @salma77, I'm assigning it to you

[2022-03-05 16:16] salma77 commented on #161
@PradyumnaKrishna Thanks

[2022-03-05 16:38] GouravSardana commented on #159
Sure

[2022-03-05 16:38] GouravSardana commented on #158
Sure

[2022-03-06 07:44] saidhanya18 commented on #123
![image](https://user-images.githubusercontent.com/94187364/156913943-fae87493-69b3-40be-97b9-49dc82d82612.png)

[2022-03-06 08:47] GouravSardana commented on #123
You can’t push directly to our repository. Process is -> fork the repo in your account + make change+ push the code to the forked repo + make a PR(Pull request)

[2022-03-06 16:04] sudojarvis commented on #125
https://user-images.githubusercontent.com/75030755/156931165-4c714e0d-e22e-4a6f-a3ff-dde702f1b0c7.mp4

Till now it is auto-completing, what I typed previously. But I have used code from gitsome. Is this fine?

[2022-03-06 16:26] GouravSardana commented on #125
@sudojarvis Is this using XONSH ? I couldn't see this going to the xonsh terminal just like in gitsome.
-  If I type gitsome, It'll open up a new customize terminal where we can do autocomplete
- Is this autocomplete based on our history or the argument which we have ?

[2022-03-06 16:35] adii21-Ux commented on #159
Actually I was working on another issue but similar to this one but I thought it would be great to create tests for get api feature first so I made PR for this one @GouravSardana can you please review

[2022-03-06 16:39] saidhanya18 commented on #123
okay thank you

[2022-03-06 17:01] sudojarvis commented on #125
yes, to all your question. And updated the video watch from 2:35.

[2022-03-06 17:04] sudojarvis commented on #125
based on our history

[2022-03-06 17:51] GouravSardana commented on #125
Okay but i think this autocomplete should work based on both things. One is history and other is args.
As of now, can you make a PR, I’ll review it locally and will give you suggestions accordingly

[2022-03-06 17:59] peb-peb opened #165 "docs: correct "`-V`" to "`-v`" in the `-st`/`--start` flag message and update version from "`0.1.0`" to "`1.1.0`""
## 📚 Documentation

1. Currently, in `-st`/`--start` flag the message says that `-V` is used to check the version

[code]
The solutions to this issue would be to:
- [ ] _change_ `-V` to `-v` in the message for `-st`/`--start` flag **OR**
- [ ] _add_ the `-V` flag in _version argument_

2. On running the `dynamic -v`, we get:

[code]
- [ ] _Update_ "0.1.0" to "1.1.0"

[2022-03-06 18:02] pranavbaburaj commented on #165
Thanks for pointing it out. Are you willing to open a pull request with these changes?

[2022-03-07 04:57] GouravSardana commented on #165
@pranavbaburaj He is a mentor for Gssoc program

[2022-03-07 07:08] pranavbaburaj commented on #165
Oh, my bad. I was not aware.

[2022-03-07 18:37] GouravSardana commented on #125
@sudojarvis Any update ?

[2022-03-07 19:25] #165 closed

[2022-03-08 13:35] AbhijitDutta338 commented on #117
@GouravSardana @pranavbaburaj I noticed that when we are searching in dynamic-cli we can use arrow keys to navigate the results that are shown as a list. Can you tell me in which file it is implemented?

[2022-03-08 13:42] AbhijitDutta338 commented on #117
@GouravSardana Sir, also I would like to ask if it would be possible to have a small call. I have some doubts that I wanted to clarify.

[2022-03-08 16:42] pranavbaburaj commented on #117
Those keybindings are parts of the tui library we are using, not a part of out project repo.

[2022-03-08 17:03] AbhijitDutta338 commented on #117
Understood @pranavbaburaj sir, thanks!

[2022-03-08 20:34] shreelakshmijoshi commented on #162
Hi @PradyumnaKrishna! Would you assign me this issue under GSSOC?

[2022-03-09 03:10] PradyumnaKrishna commented on #162
Done @shreelakshmijoshi

[2022-03-09 11:36] #156 closed

[2022-03-09 11:36] GouravSardana commented on #119
added in the doc already. Closing

[2022-03-09 11:36] #119 closed

[2022-03-10 16:52] Manas1820 commented on #94
**There is a workaround to make it work on window**

[code]

That is we can check if the current os the user is on is windows or not if we found its windows import [msvcrt](https://docs.python.org/3.7/library/msvcrt.html#console-i-o) and replace the same functionalities which are doing using terminos . @GouravSardana @pranavbaburaj this solution should work and looks like the only workaround rn.

[2022-03-11 10:56] sahilsuman933 commented on #158
@GouravSardana could you please assign this issue to someone else

[2022-03-11 11:41] GouravSardana commented on #158
No issues. Thanks for the update. This is open now !

[2022-03-12 09:34] shivankar-p opened #169 "$ signs are getting copied while copying commands from readme"
## 📚 Documentation

I think dollar signs can be removed from codeblocks of readme. It's annoying to encounter `$: command not found` error everytime when starting out with the initial setup.

I would also like to point that in Developer installation section command 3 and 4's order should be interchanged.

[2022-03-12 10:11] GouravSardana commented on #169
cc @PradyumnaKrishna

[2022-03-12 10:49] peb-peb commented on #169
@shivankar-p yeah, removing the `$` would be a good idea as it would allow contributors to directly copy-paste these commands.

I checked it now, and yeah, they should be switched.

[2022-03-12 12:37] sinha-toyeesh commented on #169
@GouravSardana I would like to work on this as a GSSOC contributor.

[2022-03-12 12:42] GouravSardana commented on #169
Go ahead and Please work on it

[2022-03-12 12:52] shivankar-p commented on #169
Also in arguments section -d(debug) option was mentioned. I was getting `dynamic: error: unrecognized arguments: -d` this error.

[2022-03-12 13:37] shivankar-p commented on #126
@GouravSardana I would like to work on this as a GSSOC contributor.

[2022-03-12 14:01] GouravSardana commented on #169
As per my understanding “d” is not there

[2022-03-12 14:02] GouravSardana commented on #126
Please go ahead @shivankar-p

[2022-03-12 14:20] #169 closed

[2022-03-12 16:55] shivankar-p commented on #126
@GouravSardana Instead of using xonsh shell. Won't it be a better idea if there is something like a dynamic-cli REPL or shell which gets activated by running some command in bash like `dynamic`. And users will enter related commands in the REPL. In this case we can customise autocompletion and all just using prompt_toolkit.
I'm not sure if this will have any disadvantages compared with current way

[2022-03-12 17:29] GouravSardana commented on #126
Can you come up with a design for this before implementing?

[2022-03-12 17:51] shivankar-p commented on #126
I was planning to take input from the input stream/console for commands instead of getting them from command line. But the console is just in a formatted way like any other REPL. For this maybe I would need to add some new functions for auto-completion and add the input logic like we do while taking input in any other python program.

[2022-03-12 17:59] shivankar-p commented on #126
![Screenshot from 2022-03-12 23-24-28](https://user-images.githubusercontent.com/60961689/158029206-402a2f5b-c840-436c-bdce-2c6cbe7d13a3.png)
![Screenshot from 2022-03-12 23-24-10](https://user-images.githubusercontent.com/60961689/158029216-d910cb48-4be5-41d9-89a8-e5d8e99422cc.png)
Design wise it would look this way. User gets to access this features of dynamic-cli once he enters `dynamic-cli` in

[2022-03-12 18:51] GouravSardana commented on #126
This looks good only. I have 2 concern :
1. Do we get the history or the current folder ? Something like that
2. Can we integrate in such a way if we type dynamic then only it’ll activate ?

[2022-03-12 18:57] shivankar-p commented on #126
2. Yes
1. I didn't get what you meant. But if you are asking about autocomplete based on previous queries that could be done for a single session(I meant till the time user exits the REPL). To remember the previous session's queries for autocomplete is what I was looking for(still not sure about how to implement this)

[2022-03-12 19:22] GouravSardana commented on #126
Got it. I mean we were creating sessions or not. I think it’s clear now. We don’t have to worry about the autocomplete after the session
Please go on and start integrating this first. Will figure it out a way

[2022-03-13 18:48] shivankar-p commented on #126
@GouravSardana I made a pull request. Can you review it? I still need to handle some options/commands properly.

[2022-03-15 07:44] adii21-Ux commented on #160
Hello @GouravSardana can you tell how to specify json data in terminal. I am trying to write cases for both options I wrote a test case for second one but having input issues with second
![Screenshot from 2022-03-15 13-12-58](https://user-images.githubusercontent.com/88366673/158329862-ef0c985f-79b6-4078-a780-c8e38c0182cf.png)

[2022-03-15 08:00] GouravSardana commented on #160
@adii21-Ux for the first one you need to pass the json in a single line just like curl

[2022-03-15 11:15] GouravSardana opened #173 "Update README: How to run unit test?"
@adii21-Ux can you please how we can run the unit test in the readme?

cc @pranavbaburaj @PradyumnaKrishna @peb-peb

[2022-03-15 17:57] adii21-Ux commented on #173
yes, sure

[2022-03-19 12:43] shreya024 commented on #158
Hey @GouravSardana I would like to work on this issue

[2022-03-19 12:54] GouravSardana commented on #158
Sure @shreya024 go ahead

[2022-03-20 03:00] shreya024 commented on #158
It is required to create 4 separate gifs for the 4 functionalities correct? And let me know where exactly should I add them in the README. Also kindly assign

[2022-03-20 03:36] GouravSardana commented on #158
Yes 4 GIF(search, playbook, GET, POST) and you can paste it in the readme where we have our previous GIF.
Please make a GIF which is clearly visible and specify in the readme

[2022-03-20 11:12] #173 closed

[2022-03-20 11:13] #160 closed

[2022-03-21 11:02] #158 closed

[2022-03-21 12:03] dhruti29 commented on #162
Hello, @PradyumnaKrishna I want work on this issue please assign me this issue under GSSOC...!!

[2022-03-21 12:14] GouravSardana commented on #162
@dhruti29 , Please go ahead

[2022-03-21 15:03] adii21-Ux commented on #161
Can I work on this @PradyumnaKrishna ?

[2022-03-21 15:42] PradyumnaKrishna commented on #161
sure @adii21-Ux

[2022-03-23 11:13] adii21-Ux commented on #161
@PradyumnaKrishna I wanted to ask should I also add tests for DELETE API feature

[2022-03-23 18:41] GouravSardana opened #177 "Copy button in the terminal"
If you fetch the questions from StackOverflow in Dynamic. It'll pop up in the terminal. We need a button there to copy the terminal text only to the clipboard

[2022-03-24 15:15] sahilsuman933 opened #178 "Unable to run Dynamic-CLI using terminal [Using Source Code]"
Issue:
I am not able to run dynamic cli directly using terminal. It is working fine using pycharm but not with the terminal. It is showing dynamic module is not found.

Screenshot of the Issue:
![image](https://user-images.githubusercontent.com/34382211/159948388-2fe73445-9afe-4506-9e66-025f3bb166b8.png)

System Details:
![Screenshot_20220324_204419](https://user-images.githubusercontent.com/34382

[2022-03-24 15:52] pranavbaburaj commented on #178
![image](https://user-images.githubusercontent.com/70764593/159956887-413020b3-e318-4b03-b551-91ce41550def.png)
Not sure why, but it works for me

[2022-03-24 19:07] sahilsuman933 commented on #178
@pranavbaburaj just uninstall the dynamic cli using pip command then run it from the source code. Then I am sure you will face that issue.

[2022-03-25 07:42] pranavbaburaj commented on #178
Should prolly be fixed in #179. Please  see whether the issue persists.

[2022-03-25 08:00] sahilsuman933 commented on #178
Okay Boss!

[2022-03-25 08:31] #178 closed

[2022-03-26 09:31] adii21-Ux commented on #161
@PradyumnaKrishna did setup until poetry build and built a dist of package but publish requires username password and also dynamic-cli also exist on pypi

[2022-03-26 10:34] PradyumnaKrishna commented on #161
@adii21-Ux leave the publish, its ok if build and installation works properly.

[2022-03-27 07:45] shreelakshmijoshi commented on #162
Hi @GouravSardana !
I want to understand a bit more about Make files. What exact dependencies/ file names should we include in the Make file to compile them?
Also, in the [make file resource](https://makefiletutorial.com/) provided, it is mentioned

And dynamic-cli has all Python files.

[2022-03-27 07:52] GouravSardana commented on #162
@PradyumnaKrishna is leading the effort from this side. Can you please explain what we need from our side ?

[2022-03-27 08:37] GouravSardana commented on #162
I agree with the point which you mentioned but let’s hear from @PradyumnaKrishna

[2022-03-27 09:17] PradyumnaKrishna commented on #162
Makefile does lot more than just compiling, currently this repository has lot of commands that can be aggregated at one place.

Let me give you an example

[code]

These all tasks and other similar tasks will get collected to one place. Currently we have to follow up the procedure to setup the development environment. After implementing Makefile, environment setup and package build will get done i

[2022-03-27 10:10] shreelakshmijoshi commented on #162
@PradyumnaKrishna, yes you're right.

[2022-04-04 02:14] Rajarshi1001 commented on #177
@GouravSardana Can I take up this issue?

[2022-04-04 08:17] pranavbaburaj commented on #177
Sure!

[2022-04-04 13:58] Rajarshi1001 commented on #177
@pranavbaburaj Should I copy only the **Question** to the clipboard or the entire **Question Link**?

[2022-04-04 14:29] Rajarshi1001 commented on #177
SInce in the above issue it was mentioned that I need to copy the terminal text to the clipboard, I thought it to be the questions that pop up for a specific topic and I have already implemented that feature to copy the question link?
There might be several code-snippets for a specific question or there may not be any code-snippets at all so how can I copy the most relevant one?

[2022-04-04 15:18] GouravSardana commented on #177
You don’t need to copy everything. We should have a button or something similar to copy the code from snippets. User can choose the snippet to copy

for copying the question- Why user wants to copy the question? To see the question in the browser, just hit enter and it’ll redirect

[2022-04-04 19:50] Rajarshi1001 commented on #177
I guess it is difficult to create a button which is rendered in the terminal using python. I have searched for various resources for reference but nothing seems to work.

[2022-04-04 20:37] GouravSardana commented on #177
Not exactly a button but something from where we can copy the snippet
If you see in the terminal, we can able to differentiate between text and snippets. So using the same thing you have to copy it to clipboard

[2022-04-06 16:28] pybash1 opened #183 "Switch from `argparse` to Typer"
## 🚀 Feature

Use [Typer](https://typer.tiangolo.com) instead of `argparse`

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/IndianOpenSourceFoundation/dynamic-cli/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

I have made applications using both Typer and `argparse`, and the developer and user experience with Typer is far better in my o

[2022-04-06 16:32] GouravSardana commented on #183
@pybash1 Thanks for your wonderful advice. Can you show me some of the packages which uses this thing ?
we need more clarity before moving to any parser.
cc @pranavbaburaj @PradyumnaKrishna @peb-peb

[2022-04-07 04:26] pybash1 commented on #183
@GouravSardana It's hard for me to remember an example right now, but if I can remember any, I will let you know.

[2022-04-08 11:20] gurmehakk commented on #157
I want to start contributing can I please be assigned an issue?

[2022-04-08 11:22] GouravSardana commented on #157
Go to the issues section and you’ll poetry issue. Please comment on that issue thread. Mentors will assign the issues to you

[2022-04-08 14:59] peb-peb commented on #183
I played around with `Typer` and it's a wonderful tool, but refactoring and moving from `argparse` to `Typer` is a _negative_ from my side. Because even if we refactor the code, it would not change anything major and add to the dependency of the project.

Typer does bring a method for autocompletion in the terminal itself, but it's not the kind of autocomplete that we're looking for (we're looking

[2022-04-08 15:06] lainq commented on #183
I would be totally fine with porting to typer, if everyone's happy with the decision.

[2022-04-11 04:31] akritimangal commented on #121
@GouravSardana Do you need more suggestions for logo? I can help..

[2022-04-11 04:56] GouravSardana commented on #121
If you want please go ahead

[2022-04-11 13:55] pybash1 opened #184 "Replace HTML escape codes with corresponding ASCII character"
## 💥 Proposal

I have noticed that when searching, things like `'` are shown as `&apos;` or `"` as `&quot;`. Maybe a simple text replacer that replaces the HTML codes with the corresponding ASCII character. Maybe the common ones at least if not all.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/IndianOpenSourceFoundation/dynamic-cli/blob/master/CONTRIBUTING.m

[2022-04-12 07:52] GouravSardana commented on #184
@pybash1 Thanks for pointing out. So, Do you have any plan to showcase us before implementing?

[2022-04-18 10:33] GouravSardana commented on #183
We're not in favour of moving from argparser to Typer.

cc @pranavbaburaj

[2022-04-18 10:34] GouravSardana commented on #177
Anybody working on this? Should i make this as open?

[2022-05-09 09:39] Aspireve commented on #177
hey @GouravSardana, I would like to work on this issue and could you please assign me? Also, I would like to get some info on how can I add this in the code part? Are there any references that I can look into? I would love the help! Thanks

[2022-05-09 12:08] GouravSardana commented on #177
@Aspireve Thanks for showing interest in contributing to dynamic cli.

I’ll tell where you can add this code and how:

first install dynamic cli in your local and try to run “dynamic -s” enter anything like python and skip tags because those are options.
You’ll see some results and you can toggle between these by up arrow and down arrow from your keyboard. Just look for any answers contains the co

[2022-05-10 08:21] Aspireve commented on #177
Hi!! This is actually my first time ever doing something like this so it might take me a bit longer to understand it.

[2022-05-10 10:33] GouravSardana commented on #177
No issues. If you need any help just put all your questions here

[2022-05-15 16:36] Yashashviarora opened #185 "Want to make a casino game using python"
plz assign me this

[2022-05-15 16:36] Yashashviarora commented on #185
/assign

[2022-05-15 16:38] Yashashviarora commented on #185
plz assign me as fast as you can

[2022-05-15 16:48] lainq commented on #185
@Yashashviarora, I would like to know how this issue is related to the project.

[2022-05-15 17:06] Yashashviarora commented on #185
@pranavbaburaj i don't get ur  question can you please explain it

[2022-05-15 17:17] lainq commented on #185
What does a casino game have to do with dynamic-cli

[2022-05-16 05:54] GouravSardana commented on #185
Not sure how this issue is related to dynamic cli. Let me know if I’m missing something

[2022-05-16 05:57] Yashashviarora commented on #185
On Mon, 16 May 2022 at 11:24 AM, Gourav Sardana ***@***.***>
wrote:

Sorry it’s my fault I didnt see dynamic cli and directly
Send you a new issue I only saw python programming language

[2022-05-16 06:00] GouravSardana commented on #185
No problem buddy. This repository is also beginners friendly. If you want to contribute, please have a look at the open issues

[2022-05-16 06:02] Yashashviarora commented on #185
On Mon, 16 May 2022 at 11:31 AM, Gourav Sardana ***@***.***>
wrote:

Okay thanks 😊

[2022-05-21 10:52] Aspireve commented on #177
Hi @GouravSardana!! I actually tried a few things to from creating a button to something to copy stuff from the terminal but nothing really seems to work.

[2022-05-21 12:51] GouravSardana commented on #177
Did you tried copying it to clipboard? You don’t actually need a button just see how we are differentiating between normal text and code.

[2022-05-22 11:51] Aspireve commented on #177
Hi @GouravSardana I was able to find a way to solve it. Soon Ill create a pull request

[2022-05-22 12:15] GouravSardana commented on #177
Damn 🤞Awesome, Looking forward to review

[2022-05-31 03:20] pybash1 commented on #184
@GouravSardana Um, showcase what it should look like after being implemented? Sure.

Sorry for such a late reply.

[2022-05-31 04:12] GouravSardana commented on #184
Yep

[2022-06-11 18:33] aryasoni98 commented on #185
I would like to work on it

[2022-06-11 18:33] aryasoni98 commented on #185
/assign

[2022-06-12 03:17] GouravSardana commented on #185
@aryasoni98 As we talked, this doesn’t seems to be relevant to our repository. We don’t want any type of game integration in our cli. Please look for open issues

[2022-06-12 04:40] #185 closed, assigned to nobody

[2022-07-29 14:54] Aspireve commented on #177
Aye I completely forgot to do it, got caught up in a lot of stuff. Will do it soon!!

[2022-07-29 15:02] GouravSardana commented on #177
@Aspireve No issues. Looking forward :)

[2022-07-29 15:38] Aspireve commented on #177
Hey @GouravSardana, I tried doing it again as I don't have the older file but when I run it it gives me this error
`ImportError: cannot import name 'MarkdownRenderer' from 'markdown' (/usr/lib/python3/dist-packages/markdown/__init__.py)`
It had worked out the last time when I tried it

[2022-07-29 15:44] Aspireve commented on #177
I tried `pip3 install markdown` and it shows
`Requirement already satisfied: markdown in /usr/lib/python3/dist-packages (3.1.1)`

[2022-07-29 16:25] Aspireve commented on #177
So I was able to overcome it by commenting out the import MarkdownRenderer for now, hope its fine

[2022-07-29 16:29] GouravSardana commented on #177
May be version issue. Can you install markdown from the requirements? So that it’ll install the correct version

[2022-07-29 17:43] Aspireve commented on #177
Hey @GouravSardana I finally got it to run, Thanks!!

Also I had two ways of copying code, one could be by
- pressing any button like when you press 'p' it saves to playbook so maybe when you press 'c' it copies text
- The second method is putting text on screen which if you press it copies text

The pressing button seems a bit more better as it stays consistent with the ret of the program but the

[2022-07-29 20:33] Aspireve commented on #177
Hey @GouravSardana Could You explain how do you differentiate between the code and the answer?

[2022-07-30 10:24] Aspireve commented on #177
Yay @GouravSardana I found a way to do it with the keyboard button 'c', Ill refine the code a bit and PR it
How's this?

![Untitled-1 - dynamic-cli - Visual Studio Code 2022-07-30 15-46-14](https://user-images.githubusercontent.com/93852415/181906137-b2a2e729-ba36-4423-b8e7-b02728b8819a.gif)

[2022-07-30 11:30] Aspireve commented on #177
Hey @GouravSardana I made a pull request. Do review it and tell me if anything else needs to be added

[2022-08-26 10:23] gkprasanth commented on #177
@GouravSardana
Hey, I know a little bit about Python, but I've never given back to an open source project. Are you sure I can help with this problem?
This concept definitely caught my attention.

[2022-08-26 10:34] GouravSardana commented on #177
@gkprasanth Hey,
Yes this is a beginner friendly project. If you think you can contribute, please go ahead and read the readme instructions and let me know if that’s unclear or need more work.

[2022-08-26 14:07] gkprasanth commented on #177
@GouravSardana
I would love to contribute to this project.
I want to know how much knowledge of Python do I need to know to contribute?